<div class="socials">
  <div class="social-col">
    <a href="https://www.instagram.com/burningvan" class="icon-15 instagram" title="Instagram">
      <%#= render 'insta.svg', class: 'social-icon' %>
      <%= inline_svg "insta.svg", class: 'social-icon' %>

    </a>
  </div>
  <div class="social-col">
    <a href="https://www.github.com/jarblz" class="icon-13 github" title="GitHub">
      <%= image_tag 'git.svg', class: 'social-icon'%>
    </a>
  </div>
  <div class="social-col">
    <a href="mailto:jaredables@gmail.com?subject=Hi there!&body=Hi, I looked at your site, and.." class="icon-8 email" title="Email">
      <%= image_tag 'mail.svg', class: 'social-icon' %>
    </a>
  </div>
</div>
<div class="work" id="work">
  <div class="container">
    <div class="section-heading">
      Recent Work
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a href="https://www.getunboxt.com">
          <div class="card">
            <div class="main-image">
              <%= image_tag "unboxt.png" %>
            </div>
            <div class="image-caption">
              <div class="work-description">
                A smarter recruiting app that targets fit potential based on personality and culture.
                <div class="skills">
                  Acting as CTO, Making product decisions while engineering, Managing a Remote developer, Managing a Designer, Making chief technology decisions, Rails, UX, Frontend Design, Frontend Javascript, Mobile Responsiveness, Wordpress, DevOps
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <a href="https://www.trailmonkeez.com">
          <div class="card">
            <div class="main-image">
              <%= image_tag "logo_blue.png" %>
            </div>
            <div class="image-caption">
              <div class="work-title">
                Trailmonkeez
              </div>
              <div class="work-description">
                An educational shopping service for curious little ones.
                <div class="skills">
                  Making chief technology decisions, Rails, Frontend Design, XLS parsing, Shopify, frontend Javascript, Mobile Responsiveness
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        <a href="https://www.tropicaldata.org">
          <div class="card">
            <div class="main-image">
              <%= image_tag "td.png" %>
            </div>
            <div class="image-caption">
              <div class="work-title">
                Tropical Data
              </div>
              <div class="work-description">
                A global health app that helps medical professionals track and eliminate devistating NTDs.
                <div class="skills">
                  Rails, Frontend Javascript, Google Maps API, PostGIS, Advanced SQL, Caching, Query Optimization, Multiple Databases
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <a href="https://afro-prototype.herokuapp.com/Nigeria">
          <div class="card">
            <div class="main-image circle">
              <%= image_tag "afro-square.png" %>
            </div>
            <div class="image-caption">
              <div class="work-title">
                Third World Mapping Geometry Prototype
              </div>
              <div class="work-description">
                This is a protoype that I built for the <a href="http://www.who.int/" style="color: blue">World Health Organization</a>.
                It renders district geometries shaded based on endimicity of disease based on the selected country.
                This app had to work on 2G, which is challenging when you are sending such a large payload in order to render all the verticies.
                I optimized the rendering of said geometries using a <a href="https://en.wikipedia.org/wiki/Ramer%E2%80%93Douglas%E2%80%93Peucker_algorithm" style="color: blue">spatial smoothing algorithm</a>.
                <div class="skills">
                  Rails, Frontend Javascript, Google Maps API, PostGIS, Caching, Query Optimization, JSON payload optimization, Advanced Google Maps API, Large JSON file parsing, UX
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="skills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content chart-home">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2 class='skills-header'>experience breakdown</h3>
      <div id="chart-section"></div>
    </div>
  </div>
</div>

<script>
  $('#skills').on('shown.bs.modal', function (e) {
    var chart = c3.generate({
      bindto: '#chart-section',
      data: {
        columns: [
          ['data1', 60],
          ['data2', 25],
          ['data3', 8],
          ['data4', 4],
          ['data5', 3],
        ],
        names: {
          data1: 'Rails/Rspec/Backend',
          data2: 'Javascript/Jquery/CSS',
          data3: 'Data Science/Ecommerce',
          data4: 'Project Management',
          data5: 'Product Development/User Discovery',
        },
        colors: {
          data1: '#ff0100',
          data2: '#106022',
          data3: '#0000ff',
          data3: '#AA8439',
          data4: '#2E4372',
          data5: '#ff7400',
        },
        type : 'donut',
      },
      // legend: {
      //   show: false,
      // },
      tooltip: {
        position: function (data, width, height, element) {
          // debugger;
          // console.log(`mouse-element: ${d3.mouse(element)[1]}`)
          // console.log(`x: ${parseInt(element.getAttribute("x"))}`)
          // console.log(`y: ${parseInt(element.getAttribute("y"))}`)
          return {top: d3.mouse(element)[1]+150, left: d3.mouse(element)[0]+150};
        }
      },
      donut: {
      }
    });

  });

  var $logo = $('.logo');
  var $logo_holder = $('.logo-holder');
  var $logo_image = $('.logo-brand');
  var $window = $(window);

  $window.scroll(function(){
    var window_height = $window.height();
    var window_top_position = $window.scrollTop();
    var window_bottom_position = (window_top_position + window_height);
    var element_height = $logo.outerHeight();
    if (window_top_position >= 60){
      $logo_image.addClass('sticky')
    } else {
      $(".scroll-actions").slideUp("fast")
      $logo_image.removeClass('sticky')
    }
  });

  $window.trigger('scroll');
  $(document).click(function(e) {
    if($(e.target).attr('class')=="logo-brand sticky"){
      $(".scroll-actions").slideToggle("fast")
    } else {
      $(".scroll-actions").slideUp("fast")
    }
  });

</script>
